<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="69ab9f">  <td>20/12/02 18:41:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTestCase.firstTestcase()[pri:0, instance:testNG.SampleTestCase@8c3b9d]">firstTestcase</td> 
  <td>main@895281180</td>   <td></td> </tr>
<tr bgcolor="69ab9f">  <td>20/12/02 18:41:07</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTestCase.fourthTestCases()[pri:3, instance:testNG.SampleTestCase@8c3b9d]">fourthTestCases</td> 
  <td>main@895281180</td>   <td></td> </tr>
<tr bgcolor="69ab9f">  <td>20/12/02 18:41:07</td>   <td>24</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTestCase.secondTestCases()[pri:1, instance:testNG.SampleTestCase@8c3b9d]">secondTestCases</td> 
  <td>main@895281180</td>   <td></td> </tr>
<tr bgcolor="69ab9f">  <td>20/12/02 18:41:07</td>   <td>28</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTestCase.thirdTestCases()[pri:2, instance:testNG.SampleTestCase@8c3b9d]">thirdTestCases</td> 
  <td>main@895281180</td>   <td></td> </tr>
</table>
